
Source/.vs/MoneyBank/DesignTimeBuild/.dtbcache
Source/.vs/MoneyBank/v16/.suo
Source/.vs/MoneyBank/v16/Server/sqlite3/db.lock
Source/.vs/MoneyBank/v16/Server/sqlite3/storage.ide
Source/.vs/MoneyBank/v16/Server/sqlite3/storage.ide-shm
Source/.vs/MoneyBank/v16/Server/sqlite3/storage.ide-wal
Source/MB.Application/obj/Release/netstandard2.0/MB.Application.csprojAssemblyReference.cache
Source/MB.Application/obj/Debug/netstandard2.0/MB.Application.csprojAssemblyReference.cache
*.cache
Source/MB.Application/obj/Release/netstandard2.0/MB.Application.AssemblyInfo.cs
Source/MB.CrossCutting/obj/Release/netstandard2.0/MB.CrossCutting.AssemblyInfo.cs
Source/MB.Application/obj/Debug/netstandard2.0/MB.Application.assets.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.dgspec.json
Source/MB.Application/obj/project.assets.json
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.assets.cache
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.csprojAssemblyReference.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.dgspec.json
Source/MB.CrossCutting/obj/project.assets.json
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.assets.cache
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.csprojAssemblyReference.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.dgspec.json
Source/MB.Data/obj/project.assets.json
Source/MB.Application/obj/Debug/netstandard2.0/MB.Application.assets.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.dgspec.json
Source/MB.Application/obj/project.assets.json
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.assets.cache
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.csprojAssemblyReference.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.dgspec.json
Source/MB.CrossCutting/obj/project.assets.json
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.assets.cache
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.csprojAssemblyReference.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.dgspec.json
Source/MB.Data/obj/project.assets.json
Source/MB.Application/obj/Debug/netstandard2.0/MB.Application.assets.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.dgspec.json
Source/MB.Application/obj/project.assets.json
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.assets.cache
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.csprojAssemblyReference.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.dgspec.json
Source/MB.CrossCutting/obj/project.assets.json
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.assets.cache
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.csprojAssemblyReference.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.dgspec.json
Source/MB.Data/obj/project.assets.json
Source/MB.Application/obj/Debug/netstandard2.0/MB.Application.assets.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.dgspec.json
Source/MB.Application/obj/project.assets.json
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.assets.cache
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.csprojAssemblyReference.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.dgspec.json
Source/MB.CrossCutting/obj/project.assets.json
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.assets.cache
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.csprojAssemblyReference.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.dgspec.json
Source/MB.Data/obj/project.assets.json
Source/MB.Data/obj/Release/netstandard2.0/MB.Data.AssemblyInfo.cs
Source/MB.Application/obj/Debug/netstandard2.0/MB.Application.assets.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.cache
Source/MB.Application/obj/MB.Application.csproj.nuget.dgspec.json
Source/MB.Application/obj/project.assets.json
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.assets.cache
Source/MB.CrossCutting/obj/Debug/netstandard2.0/MB.CrossCutting.csprojAssemblyReference.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.cache
Source/MB.CrossCutting/obj/MB.CrossCutting.csproj.nuget.dgspec.json
Source/MB.CrossCutting/obj/project.assets.json
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.assets.cache
Source/MB.Data/obj/Debug/netstandard2.0/MB.Data.csprojAssemblyReference.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.cache
Source/MB.Data/obj/MB.Data.csproj.nuget.dgspec.json
Source/MB.Data/obj/project.assets.json
